@Font-Face {
	Font-Family: "PixelMPlus10";
	Src: Url("/SchoolFestival-2017/assets/includes/PixelMplus10-Regular.ttf");
}

*, Input.mdl-textfield__input {
	Font-Size: Large;
	Font-Family: "PixelMPlus10";
}

Table[ID$="Scorelist"] {
	Width: 100%;
}