@Font-Face {
	Font-Family: "PixelMPlus12";
	Src: URL("assets/includes/PixelMplus12-Regular.ttf");
}



HTML, Body {
	Margin: 0;
}

Body {
	Overflow: Hidden;
}

#Breakout {
	Display: Block;
	Margin: Auto;
}